<h2>Create a product</h2>
<form id="productsForm">
    <label>Title:</label>
    <input name="title">
    <label>Price:</label>
    <input name="price">
    <label>Thumbnail:</label>
    <input name="thumbnail">
    <input type="submit">
</form>
<hr />
<div id="history">There is no data to show</div>
<hr />
<h2>Messages history</h2>
<form id="chatForm">
    <input name="email">
    <div id="chatHistory">There is no message to show</div>
    <input name="message">
    <input type="submit">
</form>
