<h2>Create a product</h2>
<form id="productsForm">
    <label>Title:</label>
    <input name="title">
    <label>Price:</label>
    <input name="price">
    <label>Thumbnail:</label>
    <input name="thumbnail">
    <input type="submit">
</form>
<hr />
{{#if products}}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Thumbnail</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
    {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>$ {{this.price}}</td>
            <td><img src={{this.thumbnail}} width="50"></td>
        </tr>
    {{/each}}
            </tbody>
        </table>
{{else}}
<p>There is no data to show</p>
{{/if}}